mat-toolbar {
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
  font-size: 1.6rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.m-l-40{
  margin-left: 40px;
}

.btn-link{
  font-size: 1.6rem;
}