<main class="content">
  <section class="form-cadastro">
    <mat-card appearance="raised">
      <mat-card-header>Cadastro de Usuário</mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-submit">
          <mat-form-field appearance="outline" class="input-form full-width">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" placeholder="seu.email@exemplo.com" />
            <mat-icon matSuffix>email</mat-icon>
            @if (email.invalid && (email.dirty || email.touched)) {
            <mat-error>
              @if (email.errors?.['required']) { Email é obrigatório }
              @if (email.errors?.['email']) { Formato de email inválido }
            </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="document" placeholder="000.000.000-00" />
            <mat-icon matSuffix>badge</mat-icon>
            @if (document.invalid && (document.dirty || document.touched)) {
            <mat-error>
              @if (document.errors?.['required']) {
              CPF é obrigatório
              } @else {
              CPF inválido
              }
            </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Mostrar senha'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
            </button>

            @if (password.invalid && (password.dirty || password.touched)) {
            <mat-error>
              @if (password.errors?.['required']) {
              Senha é obrigatória
              }
              @if (password.errors?.['maxlength']) {
              Senha não pode ultrapassar {{password.errors?.['maxlength'].requiredLength}} caracteres
              }
            </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirme a senha</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />
            <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Mostrar senha'" [attr.aria-pressed]="hideConfirmPassword">
              <mat-icon>{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            @if (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) {
            <mat-error>
              @if (confirmPassword.errors?.['required']) {
              Confirmação de senha é obrigatória
              }
              @if (confirmPassword.errors?.['passwordMismatch']) {
              As senhas não coincidem
              }
            </mat-error>
            }
          </mat-form-field>

          <button mat-fab extended color="primary" type="submit" class="full-width button" [disabled]="form.invalid">
            Cadastrar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
</main>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#8459b4ff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: #8459b4ff" > Aguarde... </p></ngx-spinner>